<%- include('include/_header') %>

  <main class="home">
    <a href="/add_user" class="btn add-btn"><i class="fas fa-plus"></i> Add User</a>
    <h3 class="title">Users System</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%- include('include/_show') %>

      </tbody>
    </table>
  </main>

  <%- include('include/_footer') %>