<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/776bbe23d6.js" crossorigin="anonymous"></script>
  <script src="/js/index.js" defer type="module"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>User System</title>
</head>

<body>
  <header>
    <h1>User Management System</h1>
  </header>